

<div class="main-header">
    <div class="home">

        <a href="/Home">
            Home

        </a>
    </div>

    <div class="product">

        <a href="/Products">
            Products

        </a>

    </div>

    <div class="services">

        <a class="service-nav" href="/services">
            Services
        </a>

    </div>
    <div class="clients">
        <a href="/clients">
            Clients
        </a>

    </div>
    <div class="about">


        <a href="/about">
            About Us
        </a>

    </div>
    <div class="developer">

        <a href="/developer">
            Developer


        </a>



    </div>
    <div class="developer">

        <a href="/AddProduct">
            +


        </a>

    </div>
</div>





