    <div class="container-fluid">

    <div class="row mt-5">
        <!-- Sidebar -->
        <div class="col-md-2 vh-100 p-3 position-fixed d-flex flex-column justify-content-between " style="background-color:lightgrey;">

            <ul class="nav flex-column">
                <li class="nav-item mb-1">
                    <NavLink class="nav-link text-black btn btn-outline-secondary" href="/Dashboard" Match="NavLinkMatch.All">Stock Management</NavLink>
                </li>
                <li class="nav-item mb-1">
                    <NavLink class="nav-link text-black btn btn-outline-secondary" href="/user">User Management</NavLink>
                </li>
                <li class="nav-item mb-1">
                    <NavLink class="nav-link text-black btn btn-outline-secondary" href="/store">Order Management</NavLink>
                </li>
                <li class="nav-item mb-1">
                    <NavLink class="nav-link text-black btn btn-outline-secondary" href="/Price Management">Content Management System</NavLink>
                </li>
            </ul>


            <div>
                <NavLink class="btn btn-outline-danger w-100 mb-5" href="/logout">Logout</NavLink>
            </div>

        </div>
    </div>

    </div>
   