@page "/login"
@inherits LoginBase

<div class="d-flex justify-content-center align-items-center min-vh-100 bg-light">
    <div class="w-100" style="max-width: 400px;">
        <div class="card p-4 shadow-sm">
            <h2 class="text-2xl font-semibold text-center text-gray-700">Welcome Back</h2>
            <p class="text-sm text-center text-gray-500 mb-6">Sign in to continue</p>

            <EditForm Model="@loginDto" OnValidSubmit="LoginAsync">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-600">Email</label>
                    <InputText class="form-control form-control-sm" @bind-Value="loginDto.Email" />
                </div>

                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-600">Password</label>
                    <InputText class="form-control form-control-sm" type="password" @bind-Value="loginDto.Password" />
                </div>

               
                <button type="submit" class="btn btn-primary btn-block mt-4 w-100 h-75" disabled="@isLoading">
                    @if (isLoading)
                    {
                        <span>Logging in...</span>
                    }
                    else
                    {
                        <span>Login</span>
                    }
                </button>

            </EditForm>

            @if (loginError)
            {
                <div class="mt-4 text-center text-danger">
                    Invalid email or password. Try again.
                </div>
            }

            <div class="mt-4 text-center">
                <a href="/Register" class="text-sm text-primary">Don't have an account? Register</a>
            </div>
        </div>
    </div>
</div>
